@mixin button-gold {
    font-size: 10px; 
    background-color: $hover-color;
    padding: 1% 2%;
    border-radius: 2px;
    margin-left: 3%;
    text-transform: uppercase;
    color: $footer-font-color;
    text-decoration: none;
    font-family: $font-opensans;
}

@mixin button-white{
    text-decoration: none;
    border: 1px solid lightgrey;
    border-radius: 2px;
    color: black;
    font-family: $font-opensans;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 900;
    padding: 1% 2%;
}