@import './_typo.scss';
@import './_variable.scss';
// body{
//     width: 410px;

// }

header{
    background-image: url(./images/slider/img_bg_slider_home01.jpg);
    background-size: 410px;
    background-repeat: no-repeat;
    color: $footer-font-color;
    
    h1{
        font-family: $font-title;
    }
    a{
        font-family: $font-button-baseline;
        text-decoration: none;
        color: $footer-font-color;
    }
    .tel{
        display: inline;
        font-size: 10px;
    }
}

main{
    .box{
        h2{
    
            text-align: center;
        }
        
        .subtitle{
            text-align: center;
            font-size: 10px;
        }
        
    }
    .category{
        background-image: url(./images/Banner/imgbgcategory.png);
        background-size: 410px;
        // height: 100vh;
        background-repeat: no-repeat;
        background-color: $banner-color;

        .flex-category{
            display: grid;
            gap: 20px 50px;
            grid-template-areas: "chees pizza"
                                 "coffee chicken"
                                 "energy shrimp";
                                 margin: 20px 60px;

            .box-category{
                width: 120px;
                height: 150px;
                border: 1px solid black;
                text-align: center;
                .icon{
                    width: 40px;
                    height: auto;
                    margin-top: 15px;
                }

            }
            .chees{grid-area:chees};
            .pizza{grid-area:pizza};
            .coffee{grid-area: coffee};
            .chicken{grid-area: chicken;}
            .energy{grid-area:energy;}
            .shrimp{grid-area: shrimp;}
        }
    }   


    .box-choose{
            height: auto;
            text-align: center;
            p{
                margin: 15px 41px;
            }
         } 
    .special{
        display: grid;
        grid-template-rows: 8;
        gap: 15px;
    
        .box-special{
            width: 350px;
            border: 0px solid black;
            margin: 0 15px;
            padding: 0 15px;
            display: grid;
            grid-template-areas: "h4 h4 prix"
                                     "p p prix";
                
            img{
                margin: auto;
            }
            h4{grid-area: h4;}
            p{grid-area: p;}
            img{grid-area: prix;}
        }
    }

    .gallery{
        text-align: center;    
        .div-gallery{
            display: grid;
            gap: 10px;
            margin: 10px;
            grid-template-areas:"image1 image1"
                                "image2 image3"
                                "image4 image4"
                                "image5 image6";
        
    
            .image1{grid-area:image1;}
            .image2{grid-area:image2;}
            .image3{grid-area:image3;}
            .image4{grid-area:image4;}
            .image5{grid-area:image5;}
            .image6{grid-area:image6;}
        }
                    
    }

    .box-chef{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        margin: 10px;
        gap: 10px;
        // img{
            
        // }
    } 
    
    .news{
        background-color: aqua;
        display: grid;
        grid-template-rows: 3;
        gap: 5px;

        .box-news{
            figure{
                margin: auto;
            }
        }
    }
}
footer{
    background-image: url("./images/footer/img-ng-footer.jpg");
    background-size: 410px;
    background-repeat: no-repeat;
    
    color: $footer-font-color;
}
.container{
    margin: 0;
    .box{
        width: 410px;
    }
}
