@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(./images/slider/img_bg_slider_home01.jpg);
  background-size: 410px;
  background-repeat: no-repeat;
  color: #FBFBFB;
}
header h1 {
  font-family: "Forum", cursive;
  font-size: 35px;
  text-transform: uppercase;
  margin-left: 10%;
}
header a {
  margin: 0 0 0 30px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #FBFBFB;
}
header .tel {
  position: relative;
  right: 0px;
  top: -10px;
  display: inline;
  font-size: 12px;
}
header .tel .button {
  font-size: 10px;
  background-color: #C8A96A;
  padding: 1% 2%;
  border-radius: 2px;
  margin-left: 3%;
  text-transform: uppercase;
  color: #FBFBFB;
  text-decoration: none;
}
header .header-down {
  color: #FBFBFB;
  border: 1px solid grey;
  font-size: 10px;
  padding: 1% 2%;
  position: relative;
  left: 15px;
  top: -5px;
}

main .box h2 {
  font-family: "Forum", cursive;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}
main .box .subtitle {
  text-align: center;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
main .category {
  background-image: url(./images/Banner/imgbgcategory.png);
  background-size: 410px;
  background-repeat: no-repeat;
  background-color: #FAF6F0;
}
main .category .flex-category {
  display: grid;
  gap: 20px 50px;
  grid-template-areas: "chees pizza" "coffee chicken" "energy shrimp";
  margin: 20px 60px;
}
main .category .flex-category .box-category {
  width: 120px;
  height: 150px;
  border: 1px solid black;
  text-align: center;
}
main .category .flex-category .box-category .icon {
  width: 40px;
  height: auto;
  margin-top: 15px;
}
main .category .flex-category .chees {
  grid-area: chees;
}
main .category .flex-category .pizza {
  grid-area: pizza;
}
main .category .flex-category .coffee {
  grid-area: coffee;
}
main .category .flex-category .chicken {
  grid-area: chicken;
}
main .category .flex-category .energy {
  grid-area: energy;
}
main .category .flex-category .shrimp {
  grid-area: shrimp;
}
main .category .img-down-category {
  background-color: white;
  text-align: center;
}
main .category .img-down-category .img-center {
  border: 10px solid white;
  border-radius: 50%;
  position: relative;
  top: -20px;
}
main .category .img-down-category .img-left {
  position: relative;
  top: -25px;
}
main .category .img-down-category .img-right {
  position: relative;
  top: -50px;
}
main .box-choose {
  height: auto;
  text-align: center;
}
main .box-choose img {
  margin-top: 20px;
}
main .box-choose p {
  margin: 15px 41px;
}
main .box-choose .button-choose {
  font-size: 10px;
  background-color: #C8A96A;
  padding: 1% 2%;
  border-radius: 2px;
  margin-left: 3%;
  text-transform: uppercase;
  color: #FBFBFB;
  text-decoration: none;
}
main .special {
  background-color: #FBFBFB;
  display: grid;
  grid-template-rows: 8;
  gap: 15px;
}
main .special .box-special {
  width: 350px;
  border: 0px solid black;
  margin: 0 15px;
  padding: 0 15px;
  background-color: white;
  display: grid;
  grid-template-areas: "h4 h4 prix" "p p prix";
}
main .special .box-special img {
  margin: auto;
}
main .special .box-special h4 {
  grid-area: h4;
}
main .special .box-special p {
  grid-area: p;
}
main .special .box-special img {
  grid-area: prix;
}
main .gallery {
  text-align: center;
}
main .gallery .div-gallery {
  display: grid;
  gap: 10px;
  margin: 10px;
  grid-template-areas: "image1 image1" "image2 image3" "image4 image4" "image5 image6";
}
main .gallery .div-gallery .image1 {
  grid-area: image1;
}
main .gallery .div-gallery .image2 {
  grid-area: image2;
}
main .gallery .div-gallery .image3 {
  grid-area: image3;
}
main .gallery .div-gallery .image4 {
  grid-area: image4;
}
main .gallery .div-gallery .image5 {
  grid-area: image5;
}
main .gallery .div-gallery .image6 {
  grid-area: image6;
}
main .box-chef {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  margin: 10px;
  gap: 10px;
}
main .news {
  background-color: aqua;
  display: grid;
  grid-template-rows: 3;
  gap: 5px;
}
main .news .box-news figure {
  margin: auto;
}
main .news .logo-bas-de-page {
  display: flex;
  flex-wrap: nowrap;
}

footer {
  background-color: black;
  color: #FBFBFB;
}
footer h2 {
  display: block;
  text-align: center;
  padding-top: 10px;
}
footer h3 {
  font-size: 16px;
}
footer p {
  font-size: 10px;
}

.container {
  margin: 0;
}
.container .box {
  width: 410px;
}/*# sourceMappingURL=style.css.map */